In [1]:
import pyspark

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import month
from pyspark.sql.functions import col, round

In [3]:
spark = SparkSession.builder.appName('Coffee Sales').getOrCreate()

In [4]:
data = spark.read.csv('data.csv',inferSchema=True,header=True,encoding='utf8')

In [5]:
data.show()

+---------+----+--------------------------------------+----------+----------------+------+------------+-------+---------+------------+------------+-----------------+------+-----+-------------+-----------+-------------+-------------+-------------+--------------+-------+
|Area Code|Cogs|DifferenceBetweenActualandTargetProfit|      Date|Inventory Margin|Margin| Market_size| Market|Marketing|Product_line|Product_type|          Product|Profit|Sales|        State|Target_cogs|Target_margin|Target_profit|Target_sales |Total_expenses|   Type|
+---------+----+--------------------------------------+----------+----------------+------+------------+-------+---------+------------+------------+-----------------+------+-----+-------------+-----------+-------------+-------------+-------------+--------------+-------+
|      303|  51|                                   -35| 10/1/2012|             503|    71|Major Market|Central|       46|      Leaves|  Herbal Tea|            Lemon|    -5|  122|     Colorado|         30|           60|           30|           90|            76|  Decaf|
|      970|  52|                                   -24| 10/1/2012|             405|    71|Major Market|Central|       17|      Leaves|  Herbal Tea|             Mint|    26|  123|     Colorado|         30|           60|           50|           90|            45|  Decaf|
|      409|  43|                                   -22| 10/2/2012|             419|    64|Major Market|  South|       13|      Leaves|  Herbal Tea|            Lemon|    28|  107|        Texas|         30|           60|           50|           90|            36|  Decaf|
|      850|  38|                                   -15| 10/3/2012|             871|    56|Major Market|   East|       10|      Leaves|         Tea|       Darjeeling|    35|   94|      Florida|         40|           60|           50|          100|            21|Regular|
|      562|  72|                                     6| 10/4/2012|             650|   110|Major Market|   West|       23|      Leaves|         Tea|        Green Tea|    56|  182|   California|         20|           60|           50|           80|            54|Regular|
|      712|   0|                                   -29| 10/5/2012|             430|    43|Small Market|Central|        0|       Beans|    Espresso|   Decaf Espresso|    31|   43|         Iowa|          0|           60|           60|           60|            12|  Decaf|
|      860|  47|                                   -29| 10/6/2012|             375|    64|Small Market|   East|       15|       Beans|    Espresso|   Decaf Espresso|    21|  111|  Connecticut|         30|           60|           50|           90|            43|  Decaf|
|      918|  27|                                   -39| 10/7/2012|             859|    39|Small Market|  South|        7|       Beans|      Coffee|Decaf Irish Cream|    21|   66|     Oklahoma|         30|           60|           60|           90|            18|  Decaf|
|      775|  31|                                   -43| 10/8/2012|            1000|    37|Small Market|   West|        9|       Beans|      Coffee|Decaf Irish Cream|     7|   68|       Nevada|         30|           60|           50|           90|            30|  Decaf|
|      435|  40|                                   -23| 10/9/2012|             881|    59|Small Market|   West|       11|       Beans|    Espresso|   Decaf Espresso|    37|   99|         Utah|         20|           60|           60|           80|            22|  Decaf|
|      603|  49|                                   -27|10/10/2012|             310|    71|Small Market|   East|       15|       Beans|      Coffee|         Amaretto|    33|  120|New Hampshire|         30|           60|           60|           90|            38|Regular|
|      603|  45|                                   -26|10/11/2012|             447|    69|Small Market|   East|       14|       Beans|      Coffee|        Colombian|    24|  114|New Hampshire|         30|           60|           50|           90|            45|Regular|
|      603|  45|                                   -37|10/12/2012|             320|    64|Small Market|   East|       41|       Beans|    Espresso|      Caffe Mocha|    -7|  109|New Hampshire|         30|           60|           30|           90|            71|Regular|
|      318|  60|                                    -9|10/13/2012|            -762|    84|Small Market|  South|       54|       Beans|    Espresso|      Caffe Latte|     1|  144|    Louisiana|         30|           60|           10|           90|            83|Regular|
|      775|  34|                                   -32|10/14/2012|             240|    43|Small Market|   West|       12|       Beans|      Coffee|        Colombian|    -2|   77|       Nevada|         40|           60|           30|          100|            45|Regular|
|      503|  54|                                   -28|10/15/2012|             404|    66|Small Market|   West|       20|       Beans|    Espresso|      Caffe Latte|    12|  120|       Oregon|         40|           60|           40|          100|            54|Regular|
|      573|  45|                                   -36|10/16/2012|             320|    64|Small Market|Central|       41|      Leaves|  Herbal Tea|        Chamomile|    -6|  109|     Missouri|         20|           60|           30|           80|            70|  Decaf|
|      262|  48|                                   -15|10/17/2012|             851|    70|Small Market|Central|       13|      Leaves|  Herbal Tea|            Lemon|    45|  118|    Wisconsin|         30|           60|           60|           90|            25|  Decaf|
|      801|  49|                                   -27|10/18/2012|             310|    71|Small Market|   West|       15|      Leaves|  Herbal Tea|        Chamomile|    33|  120|         Utah|         30|           60|           60|           90|            38|  Decaf|
|      425|  48|                                   -13|10/19/2012|             829|    71|Small Market|   West|       13|      Leaves|  Herbal Tea|            Lemon|    47|  119|   Washington|         30|           60|           60|           90|            24|  Decaf|
+---------+----+--------------------------------------+----------+----------------+------+------------+-------+---------+------------+------------+-----------------+------+-----+-------------+-----------+-------------+-------------+-------------+--------------+-------+
only showing top 20 rows

In [6]:
data.printSchema()

root
 |-- Area Code: integer (nullable = true)
 |-- Cogs: integer (nullable = true)
 |-- DifferenceBetweenActualandTargetProfit: integer (nullable = true)
 |-- Date: string (nullable = true)
 |-- Inventory Margin: integer (nullable = true)
 |-- Margin: integer (nullable = true)
 |-- Market_size: string (nullable = true)
 |-- Market: string (nullable = true)
 |-- Marketing: integer (nullable = true)
 |-- Product_line: string (nullable = true)
 |-- Product_type: string (nullable = true)
 |-- Product: string (nullable = true)
 |-- Profit: integer (nullable = true)
 |-- Sales: integer (nullable = true)
 |-- State: string (nullable = true)
 |-- Target_cogs: integer (nullable = true)
 |-- Target_margin: integer (nullable = true)
 |-- Target_profit: integer (nullable = true)
 |-- Target_sales : integer (nullable = true)
 |-- Total_expenses: integer (nullable = true)
 |-- Type: string (nullable = true)

In [11]:
market = data[data['Area Code'],data['Market'],data['Market_Size'],data['State']]

In [12]:
market.show()

+---------+-------+------------+-------------+
|Area Code| Market| Market_Size|        State|
+---------+-------+------------+-------------+
|      303|Central|Major Market|     Colorado|
|      970|Central|Major Market|     Colorado|
|      409|  South|Major Market|        Texas|
|      850|   East|Major Market|      Florida|
|      562|   West|Major Market|   California|
|      712|Central|Small Market|         Iowa|
|      860|   East|Small Market|  Connecticut|
|      918|  South|Small Market|     Oklahoma|
|      775|   West|Small Market|       Nevada|
|      435|   West|Small Market|         Utah|
|      603|   East|Small Market|New Hampshire|
|      603|   East|Small Market|New Hampshire|
|      603|   East|Small Market|New Hampshire|
|      318|  South|Small Market|    Louisiana|
|      775|   West|Small Market|       Nevada|
|      503|   West|Small Market|       Oregon|
|      573|Central|Small Market|     Missouri|
|      262|Central|Small Market|    Wisconsin|
|      801|   West|Small Market|         Utah|
|      425|   West|Small Market|   Washington|
+---------+-------+------------+-------------+
only showing top 20 rows

In [13]:
product = data['Area Code','Product_type','Product','Type']

In [14]:
product.show(100)

+---------+------------+-----------------+-------+
|Area Code|Product_type|          Product|   Type|
+---------+------------+-----------------+-------+
|      303|  Herbal Tea|            Lemon|  Decaf|
|      970|  Herbal Tea|             Mint|  Decaf|
|      409|  Herbal Tea|            Lemon|  Decaf|
|      850|         Tea|       Darjeeling|Regular|
|      562|         Tea|        Green Tea|Regular|
|      712|    Espresso|   Decaf Espresso|  Decaf|
|      860|    Espresso|   Decaf Espresso|  Decaf|
|      918|      Coffee|Decaf Irish Cream|  Decaf|
|      775|      Coffee|Decaf Irish Cream|  Decaf|
|      435|    Espresso|   Decaf Espresso|  Decaf|
|      603|      Coffee|         Amaretto|Regular|
|      603|      Coffee|        Colombian|Regular|
|      603|    Espresso|      Caffe Mocha|Regular|
|      318|    Espresso|      Caffe Latte|Regular|
|      775|      Coffee|        Colombian|Regular|
|      503|    Espresso|      Caffe Latte|Regular|
|      573|  Herbal Tea|        Chamomile|  Decaf|
|      262|  Herbal Tea|            Lemon|  Decaf|
|      801|  Herbal Tea|        Chamomile|  Decaf|
|      425|  Herbal Tea|            Lemon|  Decaf|
|      860|         Tea|       Darjeeling|Regular|
|      971|         Tea|        Earl Grey|Regular|
|      971|         Tea|        Green Tea|Regular|
|      915|      Coffee|Decaf Irish Cream|  Decaf|
|      210|    Espresso|   Decaf Espresso|  Decaf|
|      970|      Coffee|        Colombian|Regular|
|      774|    Espresso|      Caffe Mocha|Regular|
|      954|  Herbal Tea|             Mint|  Decaf|
|      936|  Herbal Tea|            Lemon|  Decaf|
|      719|         Tea|       Darjeeling|Regular|
|      847|         Tea|       Darjeeling|Regular|
|      719|         Tea|        Earl Grey|Regular|
|      339|         Tea|       Darjeeling|Regular|
|      314|    Espresso|   Decaf Espresso|  Decaf|
|      504|      Coffee|Decaf Irish Cream|  Decaf|
|      580|      Coffee|Decaf Irish Cream|  Decaf|
|      225|    Espresso|   Decaf Espresso|  Decaf|
|      262|      Coffee|         Amaretto|Regular|
|      603|      Coffee|         Amaretto|Regular|
|      603|      Coffee|        Colombian|Regular|
|      603|    Espresso|      Caffe Mocha|Regular|
|      225|    Espresso|      Caffe Mocha|Regular|
|      425|    Espresso|      Caffe Mocha|Regular|
|      918|  Herbal Tea|        Chamomile|  Decaf|
|      801|  Herbal Tea|        Chamomile|  Decaf|
|      435|  Herbal Tea|            Lemon|  Decaf|
|      509|  Herbal Tea|            Lemon|  Decaf|
|      203|         Tea|        Green Tea|Regular|
|      206|         Tea|        Green Tea|Regular|
|      682|      Coffee|Decaf Irish Cream|  Decaf|
|      214|    Espresso|   Decaf Espresso|  Decaf|
|      970|  Herbal Tea|            Lemon|  Decaf|
|      303|  Herbal Tea|             Mint|  Decaf|
|      954|  Herbal Tea|            Lemon|  Decaf|
|      561|  Herbal Tea|             Mint|  Decaf|
|      469|  Herbal Tea|        Chamomile|  Decaf|
|      214|  Herbal Tea|            Lemon|  Decaf|
|      619|         Tea|        Earl Grey|Regular|
|      314|    Espresso|   Decaf Espresso|  Decaf|
|      225|      Coffee|Decaf Irish Cream|  Decaf|
|      580|      Coffee|Decaf Irish Cream|  Decaf|
|      603|      Coffee|        Colombian|Regular|
|      985|    Espresso|      Caffe Latte|Regular|
|      505|    Espresso|      Caffe Mocha|Regular|
|      775|      Coffee|        Colombian|Regular|
|      417|  Herbal Tea|        Chamomile|  Decaf|
|      920|  Herbal Tea|        Chamomile|  Decaf|
|      573|  Herbal Tea|            Lemon|  Decaf|
|      475|  Herbal Tea|            Lemon|  Decaf|
|      475|  Herbal Tea|             Mint|  Decaf|
|      435|  Herbal Tea|             Mint|  Decaf|
|      920|         Tea|        Earl Grey|Regular|
|      720|  Herbal Tea|            Lemon|  Decaf|
|      970|  Herbal Tea|             Mint|  Decaf|
|      430|  Herbal Tea|            Lemon|  Decaf|
|      561|         Tea|       Darjeeling|Regular|
|      510|         Tea|        Green Tea|Regular|
|      563|    Espresso|   Decaf Espresso|  Decaf|
|      203|    Espresso|   Decaf Espresso|  Decaf|
|      405|      Coffee|Decaf Irish Cream|  Decaf|
|      775|      Coffee|Decaf Irish Cream|  Decaf|
|      435|    Espresso|   Decaf Espresso|  Decaf|
|      603|      Coffee|         Amaretto|Regular|
|      603|      Coffee|        Colombian|Regular|
|      603|    Espresso|      Caffe Mocha|Regular|
|      504|    Espresso|      Caffe Latte|Regular|
|      702|      Coffee|        Colombian|Regular|
|      971|    Espresso|      Caffe Latte|Regular|
|      573|  Herbal Tea|        Chamomile|  Decaf|
|      262|  Herbal Tea|            Lemon|  Decaf|
|      801|  Herbal Tea|        Chamomile|  Decaf|
|      509|  Herbal Tea|            Lemon|  Decaf|
|      475|         Tea|       Darjeeling|Regular|
|      503|         Tea|        Earl Grey|Regular|
|      541|         Tea|        Green Tea|Regular|
|      936|      Coffee|Decaf Irish Cream|  Decaf|
|      254|    Espresso|   Decaf Espresso|  Decaf|
|      719|      Coffee|        Colombian|Regular|
|      339|    Espresso|      Caffe Mocha|Regular|
|      561|  Herbal Tea|             Mint|  Decaf|
+---------+------------+-----------------+-------+
only showing top 100 rows

In [15]:
sales_data = data['Date','Area Code','Profit','Margin','Sales','Cogs','Total_expenses','Marketing','Inventory Margin']

In [16]:
sales_data.show()

+----------+---------+------+------+-----+----+--------------+---------+----------------+
|      Date|Area Code|Profit|Margin|Sales|Cogs|Total_expenses|Marketing|Inventory Margin|
+----------+---------+------+------+-----+----+--------------+---------+----------------+
| 10/1/2012|      303|    -5|    71|  122|  51|            76|       46|             503|
| 10/1/2012|      970|    26|    71|  123|  52|            45|       17|             405|
| 10/2/2012|      409|    28|    64|  107|  43|            36|       13|             419|
| 10/3/2012|      850|    35|    56|   94|  38|            21|       10|             871|
| 10/4/2012|      562|    56|   110|  182|  72|            54|       23|             650|
| 10/5/2012|      712|    31|    43|   43|   0|            12|        0|             430|
| 10/6/2012|      860|    21|    64|  111|  47|            43|       15|             375|
| 10/7/2012|      918|    21|    39|   66|  27|            18|        7|             859|
| 10/8/2012|      775|     7|    37|   68|  31|            30|        9|            1000|
| 10/9/2012|      435|    37|    59|   99|  40|            22|       11|             881|
|10/10/2012|      603|    33|    71|  120|  49|            38|       15|             310|
|10/11/2012|      603|    24|    69|  114|  45|            45|       14|             447|
|10/12/2012|      603|    -7|    64|  109|  45|            71|       41|             320|
|10/13/2012|      318|     1|    84|  144|  60|            83|       54|            -762|
|10/14/2012|      775|    -2|    43|   77|  34|            45|       12|             240|
|10/15/2012|      503|    12|    66|  120|  54|            54|       20|             404|
|10/16/2012|      573|    -6|    64|  109|  45|            70|       41|             320|
|10/17/2012|      262|    45|    70|  118|  48|            25|       13|             851|
|10/18/2012|      801|    33|    71|  120|  49|            38|       15|             310|
|10/19/2012|      425|    47|    71|  119|  48|            24|       13|             829|
+----------+---------+------+------+-----+----+--------------+---------+----------------+
only showing top 20 rows

In [19]:
sales_data.describe()

DataFrame[summary: string, Date: string, Area Code: string, Profit: string, Margin: string, Sales: string, Cogs: string, Total_expenses: string, Marketing: string, Inventory Margin: string]

In [21]:
from pyspark.sql.types import TimestampType
from pyspark.sql.functions import to_timestamp
from pyspark.sql.functions import date_format
from pyspark.sql.functions import year

In [22]:
calender = data.select('Date')

In [23]:
cal = calender.withColumn('Date', to_timestamp(calender['Date'],'dd/MM/yy HH:mm:ss'))

In [24]:
calender = cal

In [26]:
calender = calender.withColumn('Day',date_format(calender['Date'],'E')).withColumn('Month', date_format(calender['Date'], 'MMMM'))

In [27]:
calender = calender.withColumn('Year',year(cal['Date']))

In [28]:
calender.show()

+----+----+-----+----+
|Date| Day|Month|Year|
+----+----+-----+----+
|null|null| null|null|
|null|null| null|null|
|null|null| null|null|
|null|null| null|null|
|null|null| null|null|
|null|null| null|null|
|null|null| null|null|
|null|null| null|null|
|null|null| null|null|
|null|null| null|null|
|null|null| null|null|
|null|null| null|null|
|null|null| null|null|
|null|null| null|null|
|null|null| null|null|
|null|null| null|null|
|null|null| null|null|
|null|null| null|null|
|null|null| null|null|
|null|null| null|null|
+----+----+-----+----+
only showing top 20 rows

In [30]:
product.orderBy("Product").show(200)

+---------+------------+-----------+-------+
|Area Code|Product_type|    Product|   Type|
+---------+------------+-----------+-------+
|      603|      Coffee|   Amaretto|Regular|
|      262|      Coffee|   Amaretto|Regular|
|      603|      Coffee|   Amaretto|Regular|
|      603|      Coffee|   Amaretto|Regular|
|      262|      Coffee|   Amaretto|Regular|
|      603|      Coffee|   Amaretto|Regular|
|      440|      Coffee|   Amaretto|Regular|
|      513|      Coffee|   Amaretto|Regular|
|      603|      Coffee|   Amaretto|Regular|
|      614|      Coffee|   Amaretto|Regular|
|      234|      Coffee|   Amaretto|Regular|
|      603|      Coffee|   Amaretto|Regular|
|      563|      Coffee|   Amaretto|Regular|
|      641|      Coffee|   Amaretto|Regular|
|      515|      Coffee|   Amaretto|Regular|
|      563|      Coffee|   Amaretto|Regular|
|      715|      Coffee|   Amaretto|Regular|
|      330|      Coffee|   Amaretto|Regular|
|      541|      Coffee|   Amaretto|Regular|
|      715|      Coffee|   Amaretto|Regular|
|      503|      Coffee|   Amaretto|Regular|
|      414|      Coffee|   Amaretto|Regular|
|      234|      Coffee|   Amaretto|Regular|
|      971|      Coffee|   Amaretto|Regular|
|      920|      Coffee|   Amaretto|Regular|
|      541|      Coffee|   Amaretto|Regular|
|      970|      Coffee|   Amaretto|Regular|
|      970|      Coffee|   Amaretto|Regular|
|      563|      Coffee|   Amaretto|Regular|
|      719|      Coffee|   Amaretto|Regular|
|      719|      Coffee|   Amaretto|Regular|
|      719|      Coffee|   Amaretto|Regular|
|      712|      Coffee|   Amaretto|Regular|
|      303|      Coffee|   Amaretto|Regular|
|      818|      Coffee|   Amaretto|Regular|
|      971|      Coffee|   Amaretto|Regular|
|      435|      Coffee|   Amaretto|Regular|
|      619|      Coffee|   Amaretto|Regular|
|      801|      Coffee|   Amaretto|Regular|
|      951|      Coffee|   Amaretto|Regular|
|      435|      Coffee|   Amaretto|Regular|
|      909|      Coffee|   Amaretto|Regular|
|      503|      Coffee|   Amaretto|Regular|
|      435|      Coffee|   Amaretto|Regular|
|      916|      Coffee|   Amaretto|Regular|
|      435|      Coffee|   Amaretto|Regular|
|      209|      Coffee|   Amaretto|Regular|
|      435|      Coffee|   Amaretto|Regular|
|      318|    Espresso|Caffe Latte|Regular|
|      503|    Espresso|Caffe Latte|Regular|
|      985|    Espresso|Caffe Latte|Regular|
|      504|    Espresso|Caffe Latte|Regular|
|      971|    Espresso|Caffe Latte|Regular|
|      225|    Espresso|Caffe Latte|Regular|
|      971|    Espresso|Caffe Latte|Regular|
|      971|    Espresso|Caffe Latte|Regular|
|      801|    Espresso|Caffe Latte|Regular|
|      775|    Espresso|Caffe Latte|Regular|
|      435|    Espresso|Caffe Latte|Regular|
|      702|    Espresso|Caffe Latte|Regular|
|      435|    Espresso|Caffe Latte|Regular|
|      435|    Espresso|Caffe Latte|Regular|
|      775|    Espresso|Caffe Latte|Regular|
|      435|    Espresso|Caffe Latte|Regular|
|      775|    Espresso|Caffe Latte|Regular|
|      435|    Espresso|Caffe Latte|Regular|
|      832|    Espresso|Caffe Latte|Regular|
|      504|    Espresso|Caffe Latte|Regular|
|      541|    Espresso|Caffe Latte|Regular|
|      512|    Espresso|Caffe Latte|Regular|
|      682|    Espresso|Caffe Latte|Regular|
|      318|    Espresso|Caffe Latte|Regular|
|      503|    Espresso|Caffe Latte|Regular|
|      361|    Espresso|Caffe Latte|Regular|
|      702|    Espresso|Caffe Latte|Regular|
|      505|    Espresso|Caffe Latte|Regular|
|      253|    Espresso|Caffe Latte|Regular|
|      253|    Espresso|Caffe Latte|Regular|
|      702|    Espresso|Caffe Latte|Regular|
|      505|    Espresso|Caffe Latte|Regular|
|      425|    Espresso|Caffe Latte|Regular|
|      206|    Espresso|Caffe Latte|Regular|
|      405|    Espresso|Caffe Latte|Regular|
|      405|    Espresso|Caffe Latte|Regular|
|      505|    Espresso|Caffe Latte|Regular|
|      817|    Espresso|Caffe Latte|Regular|
|      918|    Espresso|Caffe Latte|Regular|
|      505|    Espresso|Caffe Latte|Regular|
|      918|    Espresso|Caffe Latte|Regular|
|      505|    Espresso|Caffe Latte|Regular|
|      806|    Espresso|Caffe Latte|Regular|
|      405|    Espresso|Caffe Latte|Regular|
|      505|    Espresso|Caffe Latte|Regular|
|      918|    Espresso|Caffe Latte|Regular|
|      562|    Espresso|Caffe Latte|Regular|
|      206|    Espresso|Caffe Latte|Regular|
|      559|    Espresso|Caffe Latte|Regular|
|      916|    Espresso|Caffe Latte|Regular|
|      714|    Espresso|Caffe Latte|Regular|
|      206|    Espresso|Caffe Latte|Regular|
|      951|    Espresso|Caffe Latte|Regular|
|      949|    Espresso|Caffe Latte|Regular|
|      603|    Espresso|Caffe Mocha|Regular|
|      203|    Espresso|Caffe Mocha|Regular|
|      505|    Espresso|Caffe Mocha|Regular|
|      503|    Espresso|Caffe Mocha|Regular|
|      339|    Espresso|Caffe Mocha|Regular|
|      603|    Espresso|Caffe Mocha|Regular|
|      203|    Espresso|Caffe Mocha|Regular|
|      515|    Espresso|Caffe Mocha|Regular|
|      505|    Espresso|Caffe Mocha|Regular|
|      978|    Espresso|Caffe Mocha|Regular|
|      515|    Espresso|Caffe Mocha|Regular|
|      225|    Espresso|Caffe Mocha|Regular|
|      505|    Espresso|Caffe Mocha|Regular|
|      918|    Espresso|Caffe Mocha|Regular|
|      505|    Espresso|Caffe Mocha|Regular|
|      580|    Espresso|Caffe Mocha|Regular|
|      774|    Espresso|Caffe Mocha|Regular|
|      985|    Espresso|Caffe Mocha|Regular|
|      971|    Espresso|Caffe Mocha|Regular|
|      253|    Espresso|Caffe Mocha|Regular|
|      774|    Espresso|Caffe Mocha|Regular|
|      475|    Espresso|Caffe Mocha|Regular|
|      603|    Espresso|Caffe Mocha|Regular|
|      503|    Espresso|Caffe Mocha|Regular|
|      774|    Espresso|Caffe Mocha|Regular|
|      225|    Espresso|Caffe Mocha|Regular|
|      541|    Espresso|Caffe Mocha|Regular|
|      425|    Espresso|Caffe Mocha|Regular|
|      920|    Espresso|Caffe Mocha|Regular|
|      503|    Espresso|Caffe Mocha|Regular|
|      641|    Espresso|Caffe Mocha|Regular|
|      405|    Espresso|Caffe Mocha|Regular|
|      603|    Espresso|Caffe Mocha|Regular|
|      225|    Espresso|Caffe Mocha|Regular|
|      425|    Espresso|Caffe Mocha|Regular|
|      580|    Espresso|Caffe Mocha|Regular|
|      580|    Espresso|Caffe Mocha|Regular|
|      505|    Espresso|Caffe Mocha|Regular|
|      580|    Espresso|Caffe Mocha|Regular|
|      603|    Espresso|Caffe Mocha|Regular|
|      515|    Espresso|Caffe Mocha|Regular|
|      985|    Espresso|Caffe Mocha|Regular|
|      509|    Espresso|Caffe Mocha|Regular|
|      339|    Espresso|Caffe Mocha|Regular|
|      475|    Espresso|Caffe Mocha|Regular|
|      314|    Espresso|Caffe Mocha|Regular|
|      603|    Espresso|Caffe Mocha|Regular|
|      541|    Espresso|Caffe Mocha|Regular|
|      318|    Espresso|Caffe Mocha|Regular|
|      206|    Espresso|Caffe Mocha|Regular|
|      509|    Espresso|Caffe Mocha|Regular|
|      210|    Espresso|Caffe Mocha|Regular|
|      409|    Espresso|Caffe Mocha|Regular|
|      972|    Espresso|Caffe Mocha|Regular|
|      817|    Espresso|Caffe Mocha|Regular|
|      505|    Espresso|Caffe Mocha|Regular|
|      915|    Espresso|Caffe Mocha|Regular|
|      254|    Espresso|Caffe Mocha|Regular|
|      203|    Espresso|Caffe Mocha|Regular|
|      959|    Espresso|Caffe Mocha|Regular|
|      239|    Espresso|Caffe Mocha|Regular|
|      845|    Espresso|Caffe Mocha|Regular|
|      754|    Espresso|Caffe Mocha|Regular|
|      347|    Espresso|Caffe Mocha|Regular|
|      305|    Espresso|Caffe Mocha|Regular|
|      212|    Espresso|Caffe Mocha|Regular|
|      727|    Espresso|Caffe Mocha|Regular|
|      914|    Espresso|Caffe Mocha|Regular|
|      813|    Espresso|Caffe Mocha|Regular|
|      914|    Espresso|Caffe Mocha|Regular|
|      305|    Espresso|Caffe Mocha|Regular|
|      845|    Espresso|Caffe Mocha|Regular|
|      319|    Espresso|Caffe Mocha|Regular|
|      303|    Espresso|Caffe Mocha|Regular|
|      815|    Espresso|Caffe Mocha|Regular|
|      567|    Espresso|Caffe Mocha|Regular|
|      314|    Espresso|Caffe Mocha|Regular|
|      608|    Espresso|Caffe Mocha|Regular|
|      515|    Espresso|Caffe Mocha|Regular|
|      303|    Espresso|Caffe Mocha|Regular|
|      224|    Espresso|Caffe Mocha|Regular|
|      440|    Espresso|Caffe Mocha|Regular|
|      970|    Espresso|Caffe Mocha|Regular|
|      815|    Espresso|Caffe Mocha|Regular|
|      740|    Espresso|Caffe Mocha|Regular|
|      314|    Espresso|Caffe Mocha|Regular|
|      715|    Espresso|Caffe Mocha|Regular|
|      970|    Espresso|Caffe Mocha|Regular|
|      312|    Espresso|Caffe Mocha|Regular|
|      513|    Espresso|Caffe Mocha|Regular|
|      573|    Espresso|Caffe Mocha|Regular|
|      262|    Espresso|Caffe Mocha|Regular|
|      303|    Espresso|Caffe Mocha|Regular|
|      630|    Espresso|Caffe Mocha|Regular|
|      234|    Espresso|Caffe Mocha|Regular|
|      573|    Espresso|Caffe Mocha|Regular|
|      715|    Espresso|Caffe Mocha|Regular|
|      970|    Espresso|Caffe Mocha|Regular|
+---------+------------+-----------+-------+
only showing top 200 rows

In [33]:
exp = data.agg({'Total_expenses': 'sum'}).withColumnRenamed('sum(Total Expenses)', 'Total_Expenses')

In [34]:
exp.show()

+-------------------+
|sum(Total_expenses)|
+-------------------+
|              57174|
+-------------------+

In [35]:
profit = data.agg({'Profit': 'sum'}).withColumnRenamed('sum(Profit)', 'Total_Profit')

In [36]:
profit.show()

+------------+
|Total_Profit|
+------------+
|       64311|
+------------+

In [37]:
avg = data.agg({'Sales':'average'}).withColumnRenamed('avg(Sales)', 'Avg_sales')

In [38]:
avg.show()

+------------------+
|         Avg_sales|
+------------------+
|191.04990583804144|
+------------------+

In [45]:
avg_product_sales = data.join(product, on='Product',how="inner").select('Product','Sales','Profit','Total_expenses').groupBy('Product').avg().show()

+-----------------+------------------+------------------+-------------------+
|          Product|        avg(Sales)|       avg(Profit)|avg(Total_expenses)|
+-----------------+------------------+------------------+-------------------+
|   Decaf Espresso| 185.1764705882353| 69.00980392156863|  45.68627450980392|
|        Earl Grey|229.80555555555554| 82.98611111111111| 58.611111111111114|
|        Green Tea|118.33333333333333|1.2361111111111112|  46.30555555555556|
|         Amaretto|141.27083333333334|28.166666666666668| 46.958333333333336|
|            Lemon|             200.4|             63.45| 57.916666666666664|
|      Caffe Latte|160.46296296296296|  50.2962962962963| 47.666666666666664|
|Decaf Irish Cream|154.48958333333334|          33.34375|             50.375|
|      Caffe Mocha|180.96666666666667| 39.05833333333333|               63.7|
| Regular Espresso| 374.6666666666667|             191.0|  67.44444444444444|
|        Colombian|256.34166666666664|107.76666666666667|  64.48333333333333|
|        Chamomile|200.98958333333334| 72.97916666666667| 53.166666666666664|
|             Mint|173.79166666666666|26.791666666666668| 49.958333333333336|
|       Darjeeling|184.97916666666666| 72.66666666666667|              44.25|
+-----------------+------------------+------------------+-------------------+

In [44]:
data.printSchema()

root
 |-- Area Code: integer (nullable = true)
 |-- Cogs: integer (nullable = true)
 |-- DifferenceBetweenActualandTargetProfit: integer (nullable = true)
 |-- Date: string (nullable = true)
 |-- Inventory Margin: integer (nullable = true)
 |-- Margin: integer (nullable = true)
 |-- Market_size: string (nullable = true)
 |-- Market: string (nullable = true)
 |-- Marketing: integer (nullable = true)
 |-- Product_line: string (nullable = true)
 |-- Product_type: string (nullable = true)
 |-- Product: string (nullable = true)
 |-- Profit: integer (nullable = true)
 |-- Sales: integer (nullable = true)
 |-- State: string (nullable = true)
 |-- Target_cogs: integer (nullable = true)
 |-- Target_margin: integer (nullable = true)
 |-- Target_profit: integer (nullable = true)
 |-- Target_sales : integer (nullable = true)
 |-- Total_expenses: integer (nullable = true)
 |-- Type: string (nullable = true)

In [53]:
product_sales = data.join(product, on='Product',how="inner").select('Profit').groupBy('Product_type').sum().show()

AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `Product_type` cannot be resolved. Did you mean one of the following? [`Profit`].;
'Aggregate ['Product_type], ['Product_type, sum(Profit#29) AS sum(Profit)#1754L]
+- Project [Profit#29]
   +- Project [Product#28, Area Code#17, Cogs#18, DifferenceBetweenActualandTargetProfit#19, Date#20, Inventory Margin#21, Margin#22, Market_size#23, Market#24, Marketing#25, Product_line#26, Product_type#27, Profit#29, Sales#30, State#31, Target_cogs#32, Target_margin#33, Target_profit#34, Target_sales #35, Total_expenses#36, Type#37, Area Code#1705, Product_type#1715, Type#1725]
      +- Join Inner, (Product#28 = Product#1716)
         :- Relation [Area Code#17,Cogs#18,DifferenceBetweenActualandTargetProfit#19,Date#20,Inventory Margin#21,Margin#22,Market_size#23,Market#24,Marketing#25,Product_line#26,Product_type#27,Product#28,Profit#29,Sales#30,State#31,Target_cogs#32,Target_margin#33,Target_profit#34,Target_sales #35,Total_expenses#36,Type#37] csv
         +- Project [Area Code#1705, Product_type#1715, Product#1716, Type#1725]
            +- Relation [Area Code#1705,Cogs#1706,DifferenceBetweenActualandTargetProfit#1707,Date#1708,Inventory Margin#1709,Margin#1710,Market_size#1711,Market#1712,Marketing#1713,Product_line#1714,Product_type#1715,Product#1716,Profit#1717,Sales#1718,State#1719,Target_cogs#1720,Target_margin#1721,Target_profit#1722,Target_sales #1723,Total_expenses#1724,Type#1725] csv

In [54]:
import pymysql

In [55]:
from sqlalchemy import create_engine

In [ ]:
connection = pymysql.connect(
    host='localhost',
    port=3306,
    user='root',
    password='Lokesh@112',
    database='sales'
)

In [ ]:
cursor = connection.cursor()

In [ ]:
market_df = market.toPandas()

In [ ]:
market_table_query = """
    CREATE TABLE Market (
        Area_Code INT,
        Market VARCHAR(30),
        Market_Size VARCHAR(30),
        State VARCHAR(30)
    )
"""

In [ ]:
cursor.execute(product_table_query)

In [ ]:
insert_query = "INSERT INTO Product (ProductID, Area_Code, Product_Type, Product, Type) VALUES (%s, %s, %s, %s, %s)"

In [ ]:
data = df.values.tolist()

In [ ]:
cursor.executemany(insert_query, data)

In [ ]:
connection.commit()

In [ ]:
df = data.toPandas()

In [ ]:
sales_table_query = """
    CREATE TABLE Sales (
      ProductID INT,
      `Date` DATE,
      Area_Code INT,
      Profit DOUBLE,
      Margin DOUBLE,
      Sales DOUBLE,
      COGS DOUBLE,
      TotalExpenses DOUBLE,
      Marketing DOUBLE,
      Inventory DOUBLE,
      BudgetProfit DOUBLE,
      BudgetCOGS DOUBLE,
      BudgetMargin DOUBLE,
      BudgetSales DOUBLE
)
"""

In [ ]:
cursor.execute(sales_table_query)

In [ ]:
insert_query = "INSERT INTO Sales (ProductID, Date, Area_Code, Profit, Margin, Sales, COGS, TotalExpenses, Marketing, Inventory, BudgetProfit, BudgetCOGS, BudgetMargin, BudgetSales) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"

In [ ]:
data = df.values.tolist()

In [ ]:
sales_table_query = """
    CREATE TABLE Sales (
      ProductID INT,
      `Date` DATE,
      Area_Code INT,
      Profit DOUBLE,
      Margin DOUBLE,
      Sales DOUBLE,
      COGS DOUBLE,
      TotalExpenses DOUBLE,
      Marketing DOUBLE,
      Inventory DOUBLE,
      BudgetProfit DOUBLE,
      BudgetCOGS DOUBLE,
      BudgetMargin DOUBLE,
      BudgetSales DOUBLE
)
"""

In [ ]:
cursor.execute(sales_table_query)

In [ ]:
insert_query = "INSERT INTO Sales (ProductID, Date, Area_Code, Profit, Margin, Sales, COGS, TotalExpenses, Marketing, Inventory, BudgetProfit, BudgetCOGS, BudgetMargin, BudgetSales) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"

In [ ]:
data = df.values.tolist()

In [ ]:
cursor.executemany(insert_query, data)

In [ ]:
connection.commit()

In [ ]:
df = calender.toPandas()

In [ ]:
Calender_table_query = """
    CREATE TABLE Calender (
      Date TIMESTAMP,
      Day VARCHAR(255),
      Month VARCHAR(255),
      Year INT
)
"""

In [ ]:
cursor.execute(Calender_table_query)

In [ ]:
insert_query = "INSERT INTO Calender (Date, Day, Month, Year) VALUES (%s, %s, %s, %s)"

In [ ]:
data = df.values.tolist()

In [ ]:
cursor.executemany(insert_query, data)

In [ ]:
connection.commit()

In [ ]:
cursor.close()

In [ ]:
connection.close()

In [ ]:
data.show()